n8n-workflows/webhook_scrape.json
{
  "name": "Social Scraper - Webhook Triggered",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scrape",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "scrape-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/pipeline",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ platform: $json.body.platform || 'tiktok', hashtag: $json.body.hashtag || 'bartender', count: $json.body.count || 10, skip_analysis: $json.body.skip_analysis || false }) }}",
        "options": {}
      },
      "id": "start-pipeline",
      "name": "Start Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Start Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Pipeline": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["social-scraper"],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T00:00:00.000Z",
  "versionId": "1"
}
